#container{

    margin: 0 auto;
    width: 0%;
    padding: 10px;


}

html{ background-color:grey;}
button{ margin: 10px;
}
    

input,form,label{display: inline-block;
    align-items: center;
}
    

